// Fonts
$title           : "BwMitga-Bold",
sans-serif;
$text            : "BwMitga-Regular",
sans-serif;

// Colors
$body            : #F8FDFE;
$black           : #003449;
$white           : #ffffff;
$mediumWhite     : #f8fdfe;
$grey            : #80969f;
$red             : #ff4949;
$green           : #09d333;
$lightBlue       : #33d1ff;
$blueGradient    : linear-gradient(to right, #00a5ff 0%, #33d1ff 99%);

// Shadow
$whiteShadow     : 0 10px 35px -10px rgba(255, 255, 255, 0.5);
$darkblueShadow  : 0 25px 65px 0 rgba(100, 233, 255, 0.15);
$mediumblueShadow: 0 10px 55px -15px rgba(55, 161, 178, 0.5);
$blueShadow      : 0 10px 55px 0 #92f0ff;

// Radius
$radius-xl       : 50px;
$radius-l        : 40px;