@import "../Helpers/variables.scss";

#animal {
    position: relative;
    overflow-x: hidden!important;
    z-index: 1;

    #background {
        z-index: -1;
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100%;
        background-image: url("../../Img/background/background2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card{
        border: none;
    }


    .picto {
        width: 10%;
    }

    #picto-animal {
        padding-top: 5vh;
        display: block;
    }

    .illu {
        width: 10%;
        margin: initial;
        margin: 2vh 0vh 4vh 0vh;
    }

    h2 {
        font-family: $title;
        color: $white;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
    }

    h3 {
        @extend h2;
        text-align: left;
        margin-bottom: 5vh;
    }

    #txt {
        font-family: $text;
        color: $white;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        display: block;
        margin-bottom: 10vh;
    }

    .card-body {
        box-shadow: $darkblueShadow;
        background-color: $white;
        border-radius: $radius-xl;
        -webkit-border-radius: $radius-xl;
        -moz-border-radius: $radius-xl;
        -ms-border-radius: $radius-xl;
        -o-border-radius: $radius-xl;

        h4 {
            font-family: $title;
            color: $black;
            font-size: 20px;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            margin-bottom: 2vh;
        }

        p {
            font-family: $text;
            color: $grey;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: justify;
            margin-bottom: 5vh;
        }
    }

    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        padding-left: 2%;
        padding-right: 2%;
    }

    .icon1,
    .icon2,
    .icon3,
    .icon4,
    .icon5,
    .icon6 {
        position: absolute;
        border-radius: 5px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        will-change: transform;
        z-index: 5;
    }

    .icon1 {
        width: 3vh;
        height: 3vh;
        background-image: url("../../Img/background/icon/cercle2.png");
    }

    .icon2 {
        width: 3vh;
        height: 3vh;
        background-image: url("../../Img/background/icon/losange.png");
    }

    .icon4 {
        width: 3vh;
        height: 3vh;
        background-image: url("../../Img/background/icon/triangle.png");
    }

    .icon6 {
        width: 3vh;
        height: 3vh;
        background-image: url("../../Img/background/icon/losange.png");
    }

    .icon5 {
        width: 3vh;
        height: 3vh;
        background-image: url("../../Img/background/icon/triangle2.png");
    }

    @media screen and (min-width: 200px) and (max-width: 990px) {
        .card {
            margin-bottom: 5vh;
        }

        .illu{
            width: 20%;
        }
    }
}