@import "../Helpers/variables.scss";

.cta-full {
    color: $black;
    background-color: $white;
    padding: 3% 35px;
    font-family: $title;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: $radius-xl;
    -webkit-border-radius: $radius-xl;
    -moz-border-radius: $radius-xl;
    -ms-border-radius: $radius-xl;
    -o-border-radius: $radius-xl;
    box-shadow: $white;
}