@import "../Helpers/variables.scss";

#DataCard {
    h2 {
        font-family: $title;
        font-size: 25px;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $black;
        margin-bottom: 6%;
    }

    p {
        font-family: $text;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: justify;
        color: $grey;
    }
}