// Bold
@font-face {
    font-family: "BwMitga-Bold";
    src: url("../../Fonts/BwMitga-Bold.ttf");
}

// Regular
@font-face {
    font-family: "BwMitga-Regular";
    src: url("../../Fonts/BwMitga-Regular.ttf");
}