@import "../Helpers/variables.scss";

#footer {
    position: relative;
    z-index: 1;
    background-color: $lightBlue;
    font-family: $title;
    
    p{
        color: #ffffff;
        padding: 1% 0%;
    }

    a{
        text-decoration: none;
        color: $white;
        font-family: $title;
    }
}