@import "../Helpers/variables.scss";

#home {
    position: relative;
    overflow-x: hidden!important;
    z-index: 1;
    box-shadow: $blueShadow;
    background-image: url("../../Img/background/background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    header {
        margin-top: 10vh;

        .cta {
            font-family: $text;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $white;
            opacity: 1;
            padding-right: 2%;
        }
    }

    .full {
        height: 90vh;
    }

    h1 {
        font-family: $title;
        color: $white;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        padding-bottom: 3%;
    }

    p {
        font-family: $text;
        color: $white;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-bottom: 5vh;
        z-index: 0;

        span {
            font-weight: bold;
        }
    }

    .cta-full {
        padding-top: 3%;
        padding-right: 15px;
        padding-bottom: 3%;
        padding-left: 35px;
        color: #003449;
        margin-bottom: 5vh;
        transition: all 0.5s ease;
    }


    .cta-full::after {
        transition: all 0.5s ease;
        background-image: url('../../Img/icone/quote.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        display: inline-block;
        width: 50px;
        height: 10px;
        content: "";
    }

    img {
        width: 70%;
    }

    @media screen and (min-width: 200px) and (max-width: 768px) {
        header a {
            display: block;
            margin-bottom: 2%;
        }
    }
}

#home .cta-full:hover::after {
    transition: all 0.5s ease;
    width: 70px;
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    #home .cta-full:hover::after {
        transition: all 0.5s ease;
        width: 50px;
    }
}