@import "../Helpers/variables.scss";

#numeros {
    position: relative;
    z-index: 1;
    margin-top: 15vh;

    .picto {
        width: 15%;
        margin-top: -60px;
    }

    .row {
        background-color: $white;
        // background-color  : $green;
        box-shadow: $darkblueShadow;
        border-radius: $radius-l;
        -webkit-border-radius: $radius-l;
        -moz-border-radius: $radius-l;
        -ms-border-radius: $radius-l;
        -o-border-radius: $radius-l;
    }

    div {
        margin-bottom: 5%;

        h2 {
            font-family: $title;
            color: $black;
            font-size: 20px;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;

            span {
                display: block;
                color: $lightBlue;
                margin-bottom: 3vh;
            }
        }
    }

    p {
        display: block;
        margin: auto;
        font-family: $text;
        color: $grey;
        font-size: 15px;
        width: 75%;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;

    }

    @media screen and (min-width: 200px) and (max-width: 990px) {
        h2{
            margin-bottom: 5vh;
        }
      }

}